.itemCertific{
  color: white;
  border: 1px solid #e27a00;
  border-radius: 5px;
  padding-bottom: 25px;
  /*background-color: #e27a00;*/
  text-align : center;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.itemCertific hr{
  width: 90%;
  border-color: #e27a00;
}

.itemCertificTitl{
  color: rgb(240,240,240);
  font-family: inherit;
  background-color: rgba(0,0,0,0.1);
  padding: 3px;
}

.itemCertific .itemCertificImage{
  height: 70px;
  width: auto;
  align-self: center;
  margin-bottom: 30px;
}

.itemCertific .itemCertificDescricao{
  width: 93%;
  margin: 0 auto;
  text-align: justify;
}
